* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #e8cbc0, #636fa4);
  font-family: "Poppins", cursive, monospace;
  color: #fff;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-input,
.todo-btn {
  font-size: 2rem;
  border: none;
  padding: 0.5rem;
  background: #fff;
}

.todo-btn {
  color: #636fa4;
  transition: all 0.3s ease;
}

.todo-btn:hover {
  color: #fff;
  background: #636fa4;
  cursor: pointer;
}

.todos-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #000;
  font-size: 2rem;
  transition: all 0.5s ease;
}
.todo li {
  flex: 1;
}
.todo-item {
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.complete-btn,
.trash-btn {
  padding: 1rem;
  border: none;
  color: #fff;
  background: #636fa4;
  font-size: 1rem;

  cursor: pointer;
}
.complete-btn {
  background: rgb(73, 204, 73);
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}
.select {
  position: relative;
  overflow: hidden;
  margin: 1rem;
}
select {
  padding: 1.1rem;
  width: 10rem;
  color: #636fa4;
  cursor: pointer;
}
.select::after {
  content: "\25BC";
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #636fa4;
  padding: 1.1rem;
  transition: all 0.3s ease;
}
.select:hover::after {
  background: #fff;
  color: #636fa4;
}
